<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduate.engine.mapper.ActivityMapper">
  <resultMap id="BaseResultMap" type="com.graduate.engine.model.Activity">
    <id column="act_id" jdbcType="INTEGER" property="actId" />
    <result column="inst_id" jdbcType="INTEGER" property="instId" />
    <result column="inst_sub_id" jdbcType="INTEGER" property="instSubId" />
    <result column="person_id" jdbcType="INTEGER" property="personId" />
    <result column="act_name" jdbcType="VARCHAR" property="actName" />
    <result column="act_short" jdbcType="VARCHAR" property="actShort" />
    <result column="act_eng_name" jdbcType="VARCHAR" property="actEngName" />
    <result column="industy_id" jdbcType="TINYINT" property="industyId" />
    <result column="act_date" jdbcType="INTEGER" property="actDate" />
    <result column="act_date_from" jdbcType="INTEGER" property="actDateFrom" />
    <result column="act_date_to" jdbcType="INTEGER" property="actDateTo" />
    <result column="act_address" jdbcType="VARCHAR" property="actAddress" />
    <result column="act_priority" jdbcType="TINYINT" property="actPriority" />
    <result column="act_status_id" jdbcType="TINYINT" property="actStatusId" />
    <result column="act_memo" jdbcType="VARCHAR" property="actMemo" />
    <result column="stop" jdbcType="BIT" property="stop" />
  </resultMap>
  <sql id="Base_Column_List">
    act_id, inst_id, inst_sub_id, person_id, act_name, act_short, act_eng_name, industy_id, 
    act_date, act_date_from, act_date_to, act_address, act_priority, act_status_id, act_memo, 
    stop
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from activity
    where act_id = #{actId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from activity
    where act_id = #{actId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.graduate.engine.model.Activity">
    insert into activity (act_id, inst_id, inst_sub_id, 
      person_id, act_name, act_short, 
      act_eng_name, industy_id, act_date, 
      act_date_from, act_date_to, act_address, 
      act_priority, act_status_id, act_memo, 
      stop)
    values (#{actId,jdbcType=INTEGER}, #{instId,jdbcType=INTEGER}, #{instSubId,jdbcType=INTEGER}, 
      #{personId,jdbcType=INTEGER}, #{actName,jdbcType=VARCHAR}, #{actShort,jdbcType=VARCHAR}, 
      #{actEngName,jdbcType=VARCHAR}, #{industyId,jdbcType=TINYINT}, #{actDate,jdbcType=INTEGER}, 
      #{actDateFrom,jdbcType=INTEGER}, #{actDateTo,jdbcType=INTEGER}, #{actAddress,jdbcType=VARCHAR}, 
      #{actPriority,jdbcType=TINYINT}, #{actStatusId,jdbcType=TINYINT}, #{actMemo,jdbcType=VARCHAR}, 
      #{stop,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.graduate.engine.model.Activity">
    insert into activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="actId != null">
        act_id,
      </if>
      <if test="instId != null">
        inst_id,
      </if>
      <if test="instSubId != null">
        inst_sub_id,
      </if>
      <if test="personId != null">
        person_id,
      </if>
      <if test="actName != null">
        act_name,
      </if>
      <if test="actShort != null">
        act_short,
      </if>
      <if test="actEngName != null">
        act_eng_name,
      </if>
      <if test="industyId != null">
        industy_id,
      </if>
      <if test="actDate != null">
        act_date,
      </if>
      <if test="actDateFrom != null">
        act_date_from,
      </if>
      <if test="actDateTo != null">
        act_date_to,
      </if>
      <if test="actAddress != null">
        act_address,
      </if>
      <if test="actPriority != null">
        act_priority,
      </if>
      <if test="actStatusId != null">
        act_status_id,
      </if>
      <if test="actMemo != null">
        act_memo,
      </if>
      <if test="stop != null">
        stop,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="actId != null">
        #{actId,jdbcType=INTEGER},
      </if>
      <if test="instId != null">
        #{instId,jdbcType=INTEGER},
      </if>
      <if test="instSubId != null">
        #{instSubId,jdbcType=INTEGER},
      </if>
      <if test="personId != null">
        #{personId,jdbcType=INTEGER},
      </if>
      <if test="actName != null">
        #{actName,jdbcType=VARCHAR},
      </if>
      <if test="actShort != null">
        #{actShort,jdbcType=VARCHAR},
      </if>
      <if test="actEngName != null">
        #{actEngName,jdbcType=VARCHAR},
      </if>
      <if test="industyId != null">
        #{industyId,jdbcType=TINYINT},
      </if>
      <if test="actDate != null">
        #{actDate,jdbcType=INTEGER},
      </if>
      <if test="actDateFrom != null">
        #{actDateFrom,jdbcType=INTEGER},
      </if>
      <if test="actDateTo != null">
        #{actDateTo,jdbcType=INTEGER},
      </if>
      <if test="actAddress != null">
        #{actAddress,jdbcType=VARCHAR},
      </if>
      <if test="actPriority != null">
        #{actPriority,jdbcType=TINYINT},
      </if>
      <if test="actStatusId != null">
        #{actStatusId,jdbcType=TINYINT},
      </if>
      <if test="actMemo != null">
        #{actMemo,jdbcType=VARCHAR},
      </if>
      <if test="stop != null">
        #{stop,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.graduate.engine.model.Activity">
    update activity
    <set>
      <if test="instId != null">
        inst_id = #{instId,jdbcType=INTEGER},
      </if>
      <if test="instSubId != null">
        inst_sub_id = #{instSubId,jdbcType=INTEGER},
      </if>
      <if test="personId != null">
        person_id = #{personId,jdbcType=INTEGER},
      </if>
      <if test="actName != null">
        act_name = #{actName,jdbcType=VARCHAR},
      </if>
      <if test="actShort != null">
        act_short = #{actShort,jdbcType=VARCHAR},
      </if>
      <if test="actEngName != null">
        act_eng_name = #{actEngName,jdbcType=VARCHAR},
      </if>
      <if test="industyId != null">
        industy_id = #{industyId,jdbcType=TINYINT},
      </if>
      <if test="actDate != null">
        act_date = #{actDate,jdbcType=INTEGER},
      </if>
      <if test="actDateFrom != null">
        act_date_from = #{actDateFrom,jdbcType=INTEGER},
      </if>
      <if test="actDateTo != null">
        act_date_to = #{actDateTo,jdbcType=INTEGER},
      </if>
      <if test="actAddress != null">
        act_address = #{actAddress,jdbcType=VARCHAR},
      </if>
      <if test="actPriority != null">
        act_priority = #{actPriority,jdbcType=TINYINT},
      </if>
      <if test="actStatusId != null">
        act_status_id = #{actStatusId,jdbcType=TINYINT},
      </if>
      <if test="actMemo != null">
        act_memo = #{actMemo,jdbcType=VARCHAR},
      </if>
      <if test="stop != null">
        stop = #{stop,jdbcType=BIT},
      </if>
    </set>
    where act_id = #{actId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.graduate.engine.model.Activity">
    update activity
    set inst_id = #{instId,jdbcType=INTEGER},
      inst_sub_id = #{instSubId,jdbcType=INTEGER},
      person_id = #{personId,jdbcType=INTEGER},
      act_name = #{actName,jdbcType=VARCHAR},
      act_short = #{actShort,jdbcType=VARCHAR},
      act_eng_name = #{actEngName,jdbcType=VARCHAR},
      industy_id = #{industyId,jdbcType=TINYINT},
      act_date = #{actDate,jdbcType=INTEGER},
      act_date_from = #{actDateFrom,jdbcType=INTEGER},
      act_date_to = #{actDateTo,jdbcType=INTEGER},
      act_address = #{actAddress,jdbcType=VARCHAR},
      act_priority = #{actPriority,jdbcType=TINYINT},
      act_status_id = #{actStatusId,jdbcType=TINYINT},
      act_memo = #{actMemo,jdbcType=VARCHAR},
      stop = #{stop,jdbcType=BIT}
    where act_id = #{actId,jdbcType=INTEGER}
  </update>
</mapper>