<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduate.engine.mapper.CompanyMemberMapper">
  <resultMap id="BaseResultMap" type="com.graduate.engine.model.CompanyMember">
    <id column="comp_id" jdbcType="INTEGER" property="compId" />
    <result column="inst_id" jdbcType="INTEGER" property="instId" />
    <result column="comp_name" jdbcType="VARCHAR" property="compName" />
    <result column="comp_short" jdbcType="VARCHAR" property="compShort" />
    <result column="comp_eng_name" jdbcType="VARCHAR" property="compEngName" />
    <result column="comp_prop_id" jdbcType="TINYINT" property="compPropId" />
    <result column="comp_address" jdbcType="VARCHAR" property="compAddress" />
    <result column="comp_website" jdbcType="VARCHAR" property="compWebsite" />
    <result column="comp_register_date" jdbcType="INTEGER" property="compRegisterDate" />
    <result column="comp_register_capital" jdbcType="INTEGER" property="compRegisterCapital" />
    <result column="comp_legal_name" jdbcType="VARCHAR" property="compLegalName" />
    <result column="comp_legal_inform" jdbcType="VARCHAR" property="compLegalInform" />
    <result column="person_id" jdbcType="INTEGER" property="personId" />
    <result column="comp_employee_count" jdbcType="INTEGER" property="compEmployeeCount" />
    <result column="comp_employee_college_rate" jdbcType="DOUBLE" property="compEmployeeCollegeRate" />
    <result column="comp_employee_it_count" jdbcType="INTEGER" property="compEmployeeItCount" />
    <result column="comp_employee_it_rate" jdbcType="DOUBLE" property="compEmployeeItRate" />
    <result column="comp_business" jdbcType="VARCHAR" property="compBusiness" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="comp_member_id" jdbcType="INTEGER" property="compMemberId" />
    <result column="comp_member_date" jdbcType="INTEGER" property="compMemberDate" />
    <result column="stop" jdbcType="BIT" property="stop" />
  </resultMap>
  <sql id="Base_Column_List">
    comp_id, inst_id, comp_name, comp_short, comp_eng_name, comp_prop_id, comp_address,
    comp_website, comp_register_date, comp_register_capital, comp_legal_name, comp_legal_inform,
    person_id, comp_employee_count, comp_employee_college_rate, comp_employee_it_count,
    comp_employee_it_rate, comp_business, memo, comp_member_id, comp_member_date, stop
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from company_member
    where comp_id = #{compId,jdbcType=INTEGER}
  </select>
  <select id="countByInstId" resultType="java.lang.Integer">
      select count(*)
      from company_member
      where inst_id = #{instId}
    </select>
  <select id="getByInstId" resultType="com.graduate.engine.model.CompanyMember">
    select
    <include refid="Base_Column_List"/>
    from company_member
    where inst_id = #{instId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from company_member
    where comp_id = #{compId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.graduate.engine.model.CompanyMember">
    insert into company_member (comp_id, inst_id, comp_name,
      comp_short, comp_eng_name, comp_prop_id,
      comp_address, comp_website, comp_register_date,
      comp_register_capital, comp_legal_name, comp_legal_inform,
      person_id, comp_employee_count, comp_employee_college_rate,
      comp_employee_it_count, comp_employee_it_rate,
      comp_business, memo, comp_member_id,
      comp_member_date, stop)
    values (#{compId,jdbcType=INTEGER}, #{instId,jdbcType=INTEGER}, #{compName,jdbcType=VARCHAR},
      #{compShort,jdbcType=VARCHAR}, #{compEngName,jdbcType=VARCHAR}, #{compPropId,jdbcType=TINYINT},
      #{compAddress,jdbcType=VARCHAR}, #{compWebsite,jdbcType=VARCHAR}, #{compRegisterDate,jdbcType=INTEGER},
      #{compRegisterCapital,jdbcType=INTEGER}, #{compLegalName,jdbcType=VARCHAR}, #{compLegalInform,jdbcType=VARCHAR},
      #{personId,jdbcType=INTEGER}, #{compEmployeeCount,jdbcType=INTEGER}, #{compEmployeeCollegeRate,jdbcType=DOUBLE},
      #{compEmployeeItCount,jdbcType=INTEGER}, #{compEmployeeItRate,jdbcType=DOUBLE},
      #{compBusiness,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{compMemberId,jdbcType=INTEGER},
      #{compMemberDate,jdbcType=INTEGER}, #{stop,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.graduate.engine.model.CompanyMember">
    insert into company_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="compId != null">
        comp_id,
      </if>
      <if test="instId != null">
        inst_id,
      </if>
      <if test="compName != null">
        comp_name,
      </if>
      <if test="compShort != null">
        comp_short,
      </if>
      <if test="compEngName != null">
        comp_eng_name,
      </if>
      <if test="compPropId != null">
        comp_prop_id,
      </if>
      <if test="compAddress != null">
        comp_address,
      </if>
      <if test="compWebsite != null">
        comp_website,
      </if>
      <if test="compRegisterDate != null">
        comp_register_date,
      </if>
      <if test="compRegisterCapital != null">
        comp_register_capital,
      </if>
      <if test="compLegalName != null">
        comp_legal_name,
      </if>
      <if test="compLegalInform != null">
        comp_legal_inform,
      </if>
      <if test="personId != null">
        person_id,
      </if>
      <if test="compEmployeeCount != null">
        comp_employee_count,
      </if>
      <if test="compEmployeeCollegeRate != null">
        comp_employee_college_rate,
      </if>
      <if test="compEmployeeItCount != null">
        comp_employee_it_count,
      </if>
      <if test="compEmployeeItRate != null">
        comp_employee_it_rate,
      </if>
      <if test="compBusiness != null">
        comp_business,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="compMemberId != null">
        comp_member_id,
      </if>
      <if test="compMemberDate != null">
        comp_member_date,
      </if>
      <if test="stop != null">
        stop,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="instId != null">
        #{instId,jdbcType=INTEGER},
      </if>
      <if test="compName != null">
        #{compName,jdbcType=VARCHAR},
      </if>
      <if test="compShort != null">
        #{compShort,jdbcType=VARCHAR},
      </if>
      <if test="compEngName != null">
        #{compEngName,jdbcType=VARCHAR},
      </if>
      <if test="compPropId != null">
        #{compPropId,jdbcType=TINYINT},
      </if>
      <if test="compAddress != null">
        #{compAddress,jdbcType=VARCHAR},
      </if>
      <if test="compWebsite != null">
        #{compWebsite,jdbcType=VARCHAR},
      </if>
      <if test="compRegisterDate != null">
        #{compRegisterDate,jdbcType=INTEGER},
      </if>
      <if test="compRegisterCapital != null">
        #{compRegisterCapital,jdbcType=INTEGER},
      </if>
      <if test="compLegalName != null">
        #{compLegalName,jdbcType=VARCHAR},
      </if>
      <if test="compLegalInform != null">
        #{compLegalInform,jdbcType=VARCHAR},
      </if>
      <if test="personId != null">
        #{personId,jdbcType=INTEGER},
      </if>
      <if test="compEmployeeCount != null">
        #{compEmployeeCount,jdbcType=INTEGER},
      </if>
      <if test="compEmployeeCollegeRate != null">
        #{compEmployeeCollegeRate,jdbcType=DOUBLE},
      </if>
      <if test="compEmployeeItCount != null">
        #{compEmployeeItCount,jdbcType=INTEGER},
      </if>
      <if test="compEmployeeItRate != null">
        #{compEmployeeItRate,jdbcType=DOUBLE},
      </if>
      <if test="compBusiness != null">
        #{compBusiness,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="compMemberId != null">
        #{compMemberId,jdbcType=INTEGER},
      </if>
      <if test="compMemberDate != null">
        #{compMemberDate,jdbcType=INTEGER},
      </if>
      <if test="stop != null">
        #{stop,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.graduate.engine.model.CompanyMember">
    update company_member
    <set>
      <if test="instId != null">
        inst_id = #{instId,jdbcType=INTEGER},
      </if>
      <if test="compName != null">
        comp_name = #{compName,jdbcType=VARCHAR},
      </if>
      <if test="compShort != null">
        comp_short = #{compShort,jdbcType=VARCHAR},
      </if>
      <if test="compEngName != null">
        comp_eng_name = #{compEngName,jdbcType=VARCHAR},
      </if>
      <if test="compPropId != null">
        comp_prop_id = #{compPropId,jdbcType=TINYINT},
      </if>
      <if test="compAddress != null">
        comp_address = #{compAddress,jdbcType=VARCHAR},
      </if>
      <if test="compWebsite != null">
        comp_website = #{compWebsite,jdbcType=VARCHAR},
      </if>
      <if test="compRegisterDate != null">
        comp_register_date = #{compRegisterDate,jdbcType=INTEGER},
      </if>
      <if test="compRegisterCapital != null">
        comp_register_capital = #{compRegisterCapital,jdbcType=INTEGER},
      </if>
      <if test="compLegalName != null">
        comp_legal_name = #{compLegalName,jdbcType=VARCHAR},
      </if>
      <if test="compLegalInform != null">
        comp_legal_inform = #{compLegalInform,jdbcType=VARCHAR},
      </if>
      <if test="personId != null">
        person_id = #{personId,jdbcType=INTEGER},
      </if>
      <if test="compEmployeeCount != null">
        comp_employee_count = #{compEmployeeCount,jdbcType=INTEGER},
      </if>
      <if test="compEmployeeCollegeRate != null">
        comp_employee_college_rate = #{compEmployeeCollegeRate,jdbcType=DOUBLE},
      </if>
      <if test="compEmployeeItCount != null">
        comp_employee_it_count = #{compEmployeeItCount,jdbcType=INTEGER},
      </if>
      <if test="compEmployeeItRate != null">
        comp_employee_it_rate = #{compEmployeeItRate,jdbcType=DOUBLE},
      </if>
      <if test="compBusiness != null">
        comp_business = #{compBusiness,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="compMemberId != null">
        comp_member_id = #{compMemberId,jdbcType=INTEGER},
      </if>
      <if test="compMemberDate != null">
        comp_member_date = #{compMemberDate,jdbcType=INTEGER},
      </if>
      <if test="stop != null">
        stop = #{stop,jdbcType=BIT},
      </if>
    </set>
    where comp_id = #{compId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.graduate.engine.model.CompanyMember">
    update company_member
    set inst_id = #{instId,jdbcType=INTEGER},
      comp_name = #{compName,jdbcType=VARCHAR},
      comp_short = #{compShort,jdbcType=VARCHAR},
      comp_eng_name = #{compEngName,jdbcType=VARCHAR},
      comp_prop_id = #{compPropId,jdbcType=TINYINT},
      comp_address = #{compAddress,jdbcType=VARCHAR},
      comp_website = #{compWebsite,jdbcType=VARCHAR},
      comp_register_date = #{compRegisterDate,jdbcType=INTEGER},
      comp_register_capital = #{compRegisterCapital,jdbcType=INTEGER},
      comp_legal_name = #{compLegalName,jdbcType=VARCHAR},
      comp_legal_inform = #{compLegalInform,jdbcType=VARCHAR},
      person_id = #{personId,jdbcType=INTEGER},
      comp_employee_count = #{compEmployeeCount,jdbcType=INTEGER},
      comp_employee_college_rate = #{compEmployeeCollegeRate,jdbcType=DOUBLE},
      comp_employee_it_count = #{compEmployeeItCount,jdbcType=INTEGER},
      comp_employee_it_rate = #{compEmployeeItRate,jdbcType=DOUBLE},
      comp_business = #{compBusiness,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      comp_member_id = #{compMemberId,jdbcType=INTEGER},
      comp_member_date = #{compMemberDate,jdbcType=INTEGER},
      stop = #{stop,jdbcType=BIT}
    where comp_id = #{compId,jdbcType=INTEGER}
  </update>
</mapper>
