<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduate.engine.mapper.InstituteMapper">
    <resultMap id="BaseResultMap" type="com.graduate.engine.model.Institute">
        <id column="inst_id" jdbcType="INTEGER" property="instId" />
        <result column="inst_name" jdbcType="VARCHAR" property="instName" />
        <result column="inst_short" jdbcType="VARCHAR" property="instShort" />
        <result column="inst_eng_name" jdbcType="VARCHAR" property="instEngName" />
        <result column="industry_id" jdbcType="TINYINT" property="industryId" />
        <result column="inst_address" jdbcType="VARCHAR" property="instAddress" />
        <result column="inst_website" jdbcType="VARCHAR" property="instWebsite" />
        <result column="inst_wechat" jdbcType="VARCHAR" property="instWechat" />
        <result column="inst_qq" jdbcType="VARCHAR" property="instQq" />
        <result column="inst_others" jdbcType="VARCHAR" property="instOthers" />
        <result column="inst_register_date" jdbcType="INTEGER" property="instRegisterDate" />
        <result column="inst_introduction" jdbcType="VARCHAR" property="instIntroduction" />
        <result column="inst_memo" jdbcType="VARCHAR" property="instMemo" />
        <result column="stop" jdbcType="BIT" property="stop" />
    </resultMap>

    <select id="queryAllInst" resultMap="BaseResultMap">
		select * from institute where `stop` = 0
	</select>

    <select id="queryAllInstList" resultType="string">
		select inst_name from institute where `stop` = 0
	</select>
</mapper>
