<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduate.engine.mapper.PersonMessageMapper">

    <!--  获取未读信息数量  -->
    <select id="getUnreadContByUserId" resultType="java.lang.Integer">
        select count(message_id)
        from person_message
        where user_id = #{userId}
          and status = 0
    </select>
    <!--  获取未读信息  -->
    <select id="getUnreadList" resultType="long">
        select message_id
        from person_message
        where user_id = #{userId}
          and status = 0
    </select>
    <!--  获取已读信息  -->
    <select id="getReadList" resultType="long">
        select message_id
        from person_message
        where user_id = #{userId}
          and status = 1
    </select>
    <!--  获取回收站信息  -->
    <select id="getTrashList" resultType="long">
        select message_id
        from person_message
        where user_id = #{userId}
          and status = 2
    </select>
    <!--  标记消息为已读  -->
    <update id="hasReadMsg">
        update person_message
        set status = 1
        where user_id = #{userId}
          and message_id = #{messageId}
    </update>
    <!--  标记消息为删除  -->
    <update id="removeMsg">
        update person_message
        set status = 2
        where user_id = #{userId}
          and message_id = #{messageId}
    </update>
    <insert id="saveBatch">
        insert into person_message (user_id, message_id, status) values
        <foreach collection="userIds" item="userId" open="" separator="," close="">
            (#{userId},#{messageId},0)
        </foreach>
    </insert>

</mapper>
