<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduate.engine.mapper.PersonResumeMapper">
    <resultMap id="BaseResultMap" type="com.graduate.engine.model.PersonResume">
        <id column="person_resume_id" jdbcType="INTEGER" property="personResumeId"/>
        <result column="inst_id" jdbcType="INTEGER" property="instId"/>
        <result column="person_id" jdbcType="INTEGER" property="personId"/>
        <result column="person_resume_comp" jdbcType="VARCHAR" property="personResumeComp"/>
        <result column="person_resume_addr" jdbcType="VARCHAR" property="personResumeAddr"/>
        <result column="person_resume_dept" jdbcType="VARCHAR" property="personResumeDept"/>
        <result column="person_resume_post" jdbcType="VARCHAR" property="personResumePost"/>
        <result column="person_resume_rank" jdbcType="INTEGER" property="personResumeRank"/>
        <result column="person_resume_spec" jdbcType="VARCHAR" property="personResumeSpec"/>
        <result column="person_resume_from" jdbcType="INTEGER" property="personResumeFrom"/>
        <result column="person_resume_to" jdbcType="INTEGER" property="personResumeTo"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
    </resultMap>
    <sql id="Base_Column_List">
        person_resume_id, inst_id, person_id, person_resume_comp, person_resume_addr, person_resume_dept,
        person_resume_post, person_resume_rank, person_resume_spec, person_resume_from, person_resume_to,
        memo
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from person_resume
        where person_resume_id = #{personResumeId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from person_resume
        where person_resume_id = #{personResumeId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.graduate.engine.model.PersonResume">
        insert into person_resume (person_resume_id,
                                   inst_id,
                                   person_id,
                                   person_resume_comp,
                                   person_resume_addr,
                                   person_resume_dept,
                                   person_resume_post,
                                   person_resume_rank,
                                   person_resume_spec,
                                   person_resume_from,
                                   person_resume_to,
                                   memo)
        values (#{personResumeId,jdbcType=INTEGER},
                #{instId,jdbcType=INTEGER},
                #{personId,jdbcType=INTEGER},
                #{personResumeComp,jdbcType=VARCHAR},
                #{personResumeAddr,jdbcType=VARCHAR},
                #{personResumeDept,jdbcType=VARCHAR},
                #{personResumePost,jdbcType=VARCHAR},
                #{personResumeRank,jdbcType=INTEGER},
                #{personResumeSpec,jdbcType=VARCHAR},
                #{personResumeFrom,jdbcType=INTEGER},
                #{personResumeTo,jdbcType=INTEGER},
                #{memo,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.graduate.engine.model.PersonResume">
        insert into person_resume
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="personResumeId != null">
                person_resume_id,
            </if>
            <if test="instId != null">
                inst_id,
            </if>
            <if test="personId != null">
                person_id,
            </if>
            <if test="personResumeComp != null">
                person_resume_comp,
            </if>
            <if test="personResumeAddr != null">
                person_resume_addr,
            </if>
            <if test="personResumeDept != null">
                person_resume_dept,
            </if>
            <if test="personResumePost != null">
                person_resume_post,
            </if>
            <if test="personResumeRank != null">
                person_resume_rank,
            </if>
            <if test="personResumeSpec != null">
                person_resume_spec,
            </if>
            <if test="personResumeFrom != null">
                person_resume_from,
            </if>
            <if test="personResumeTo != null">
                person_resume_to,
            </if>
            <if test="memo != null">
                memo,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="personResumeId != null">
                #{personResumeId,jdbcType=INTEGER},
            </if>
            <if test="instId != null">
                #{instId,jdbcType=INTEGER},
            </if>
            <if test="personId != null">
                #{personId,jdbcType=INTEGER},
            </if>
            <if test="personResumeComp != null">
                #{personResumeComp,jdbcType=VARCHAR},
            </if>
            <if test="personResumeAddr != null">
                #{personResumeAddr,jdbcType=VARCHAR},
            </if>
            <if test="personResumeDept != null">
                #{personResumeDept,jdbcType=VARCHAR},
            </if>
            <if test="personResumePost != null">
                #{personResumePost,jdbcType=VARCHAR},
            </if>
            <if test="personResumeRank != null">
                #{personResumeRank,jdbcType=INTEGER},
            </if>
            <if test="personResumeSpec != null">
                #{personResumeSpec,jdbcType=VARCHAR},
            </if>
            <if test="personResumeFrom != null">
                #{personResumeFrom,jdbcType=INTEGER},
            </if>
            <if test="personResumeTo != null">
                #{personResumeTo,jdbcType=INTEGER},
            </if>
            <if test="memo != null">
                #{memo,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.graduate.engine.model.PersonResume">
        update person_resume
        <set>
            <if test="instId != null">
                inst_id = #{instId,jdbcType=INTEGER},
            </if>
            <if test="personId != null">
                person_id = #{personId,jdbcType=INTEGER},
            </if>
            <if test="personResumeComp != null">
                person_resume_comp = #{personResumeComp,jdbcType=VARCHAR},
            </if>
            <if test="personResumeAddr != null">
                person_resume_addr = #{personResumeAddr,jdbcType=VARCHAR},
            </if>
            <if test="personResumeDept != null">
                person_resume_dept = #{personResumeDept,jdbcType=VARCHAR},
            </if>
            <if test="personResumePost != null">
                person_resume_post = #{personResumePost,jdbcType=VARCHAR},
            </if>
            <if test="personResumeRank != null">
                person_resume_rank = #{personResumeRank,jdbcType=INTEGER},
            </if>
            <if test="personResumeSpec != null">
                person_resume_spec = #{personResumeSpec,jdbcType=VARCHAR},
            </if>
            <if test="personResumeFrom != null">
                person_resume_from = #{personResumeFrom,jdbcType=INTEGER},
            </if>
            <if test="personResumeTo != null">
                person_resume_to = #{personResumeTo,jdbcType=INTEGER},
            </if>
            <if test="memo != null">
                memo = #{memo,jdbcType=VARCHAR},
            </if>
        </set>
        where person_resume_id = #{personResumeId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.graduate.engine.model.PersonResume">
        update person_resume
        set inst_id            = #{instId,jdbcType=INTEGER},
            person_id          = #{personId,jdbcType=INTEGER},
            person_resume_comp = #{personResumeComp,jdbcType=VARCHAR},
            person_resume_addr = #{personResumeAddr,jdbcType=VARCHAR},
            person_resume_dept = #{personResumeDept,jdbcType=VARCHAR},
            person_resume_post = #{personResumePost,jdbcType=VARCHAR},
            person_resume_rank = #{personResumeRank,jdbcType=INTEGER},
            person_resume_spec = #{personResumeSpec,jdbcType=VARCHAR},
            person_resume_from = #{personResumeFrom,jdbcType=INTEGER},
            person_resume_to   = #{personResumeTo,jdbcType=INTEGER},
            memo               = #{memo,jdbcType=VARCHAR}
        where person_resume_id = #{personResumeId,jdbcType=INTEGER}
    </update>
</mapper>
