<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduate.engine.mapper.PersonRoleMapperMapper">

    <delete id="deleteBatch">
        delete from person_role_mapper where role_id in
        <foreach collection="array" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>
    <!-- 根据角色ID返回该角色的所有userId -->
    <select id="selectAllUserIds" resultType="long">
        select person_id from person_role_mapper where role_id in
        <foreach collection="array" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>
    <select id="selectByPersonId" resultType="com.graduate.engine.model.PersonRoleMapper">
        select *
        from person_role_mapper
        where person_id = #{personId}
    </select>
</mapper>
