<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduate.engine.mapper.PersonRoleMapperMapper">
  <resultMap id="BaseResultMap" type="com.graduate.engine.model.PersonRoleMapper">
    <id column="person_role_id" jdbcType="INTEGER" property="personRoleId" />
    <result column="person_id" jdbcType="INTEGER" property="personId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="stop" jdbcType="BIT" property="stop" />
  </resultMap>
  <sql id="Base_Column_List">
    person_role_id, person_id, role_id, memo, stop
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from person_role_mapper
    where person_role_id = #{personRoleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from person_role_mapper
    where person_role_id = #{personRoleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.graduate.engine.model.PersonRoleMapper">
    insert into person_role_mapper (person_role_id, person_id, role_id, 
      memo, stop)
    values (#{personRoleId,jdbcType=INTEGER}, #{personId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{memo,jdbcType=VARCHAR}, #{stop,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.graduate.engine.model.PersonRoleMapper">
    insert into person_role_mapper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="personRoleId != null">
        person_role_id,
      </if>
      <if test="personId != null">
        person_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="stop != null">
        stop,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="personRoleId != null">
        #{personRoleId,jdbcType=INTEGER},
      </if>
      <if test="personId != null">
        #{personId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="stop != null">
        #{stop,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.graduate.engine.model.PersonRoleMapper">
    update person_role_mapper
    <set>
      <if test="personId != null">
        person_id = #{personId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="stop != null">
        stop = #{stop,jdbcType=BIT},
      </if>
    </set>
    where person_role_id = #{personRoleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.graduate.engine.model.PersonRoleMapper">
    update person_role_mapper
    set person_id = #{personId,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      memo = #{memo,jdbcType=VARCHAR},
      stop = #{stop,jdbcType=BIT}
    where person_role_id = #{personRoleId,jdbcType=INTEGER}
  </update>
</mapper>