<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduate.engine.mapper.SignUpMapper">
  <resultMap id="BaseResultMap" type="com.graduate.engine.model.SignUp">
    <id column="sign_id" jdbcType="INTEGER" property="signId" />
    <result column="sign_name" jdbcType="VARCHAR" property="signName" />
    <result column="sign_short" jdbcType="VARCHAR" property="signShort" />
    <result column="sign_eng_name" jdbcType="VARCHAR" property="signEngName" />
    <result column="act_id" property="actId"/>
    <result column="industry_id" jdbcType="INTEGER" property="industryId" />
    <result column="sign_date_from" jdbcType="INTEGER" property="signDateFrom" />
    <result column="sign_date_to" jdbcType="INTEGER" property="signDateTo" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="stop" jdbcType="BIT" property="stop" />
  </resultMap>
  <sql id="Base_Column_List">
    sign_id, sign_name, sign_short, sign_eng_name, act_id, industry_id, sign_date_from, sign_date_to,
    memo, stop
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sign_up
    where sign_id = #{signId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sign_up
    where sign_id = #{signId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.graduate.engine.model.SignUp">
    insert into sign_up (sign_id, sign_name, sign_short,
      sign_eng_name, industry_id, act_id, sign_date_from,
      sign_date_to, memo, stop)
    values (#{signId,jdbcType=INTEGER}, #{signName,jdbcType=VARCHAR}, #{signShort,jdbcType=VARCHAR},
      #{signEngName,jdbcType=VARCHAR}, #{industryId,jdbcType=INTEGER}, #{actId,jdbcType=INTEGER}, #{signDateFrom,jdbcType=INTEGER},
      #{signDateTo,jdbcType=INTEGER}, #{memo,jdbcType=VARCHAR}, #{stop,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.graduate.engine.model.SignUp">
    insert into sign_up
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="signId != null">
        sign_id,
      </if>
      <if test="signName != null">
        sign_name,
      </if>
      <if test="signShort != null">
        sign_short,
      </if>
      <if test="signEngName != null">
        sign_eng_name,
      </if>
      <if test="industryId != null">
        industry_id,
      </if>
      <if test="actId != null">
        act_id,
      </if>
      <if test="signDateFrom != null">
        sign_date_from,
      </if>
      <if test="signDateTo != null">
        sign_date_to,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="stop != null">
        stop,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="signId != null">
        #{signId,jdbcType=INTEGER},
      </if>
      <if test="signName != null">
        #{signName,jdbcType=VARCHAR},
      </if>
      <if test="signShort != null">
        #{signShort,jdbcType=VARCHAR},
      </if>
      <if test="signEngName != null">
        #{signEngName,jdbcType=VARCHAR},
      </if>
      <if test="industryId != null">
        #{industryId,jdbcType=INTEGER},
      </if>
      <if test="actId != null">
        #{actId,jdbcType=INTEGER},
      </if>
      <if test="signDateFrom != null">
        #{signDateFrom,jdbcType=INTEGER},
      </if>
      <if test="signDateTo != null">
        #{signDateTo,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="stop != null">
        #{stop,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.graduate.engine.model.SignUp">
    update sign_up
    <set>
      <if test="signName != null">
        sign_name = #{signName,jdbcType=VARCHAR},
      </if>
      <if test="signShort != null">
        sign_short = #{signShort,jdbcType=VARCHAR},
      </if>
      <if test="signEngName != null">
        sign_eng_name = #{signEngName,jdbcType=VARCHAR},
      </if>
      <if test="industryId != null">
        industry_id = #{industryId,jdbcType=INTEGER},
      </if>
      <if test="actId != null">
        act_id = #{actId,jdbcType=INTEGER},
      </if>
      <if test="signDateFrom != null">
        sign_date_from = #{signDateFrom,jdbcType=INTEGER},
      </if>
      <if test="signDateTo != null">
        sign_date_to = #{signDateTo,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="stop != null">
        stop = #{stop,jdbcType=BIT},
      </if>
    </set>
    where sign_id = #{signId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.graduate.engine.model.SignUp">
    update sign_up
    set sign_name = #{signName,jdbcType=VARCHAR},
      sign_short = #{signShort,jdbcType=VARCHAR},
      sign_eng_name = #{signEngName,jdbcType=VARCHAR},
      industry_id = #{industryId,jdbcType=INTEGER},
      act_id = #{actId,jdbcType=INTEGER},
      sign_date_from = #{signDateFrom,jdbcType=INTEGER},
      sign_date_to = #{signDateTo,jdbcType=INTEGER},
      memo = #{memo,jdbcType=VARCHAR},
      stop = #{stop,jdbcType=BIT}
    where sign_id = #{signId,jdbcType=INTEGER}
  </update>
</mapper>
