<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduate.engine.mapper.TestMapper">

    <select id="getMemberById" resultType="com.graduate.engine.model.dataobject.PersonMember">
        select
        *
        from
        person_member
        where
        person_id = #{personId}
    </select>
</mapper>
